*{
    box-sizing: border-box;
    margin: 0;padding: 0;
    border: none;outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .6s linear;
    caret-color: #21d07a;
}
:root{
    --blue : #032541;
    --green : #21d07a;
}